body {
	font-family: "Helvetica", arial, sans-serif;
	font-size: 14px;
	color: #000000;
}

h1 {
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	border: 12px dashed;
	padding: 30px;
	margin: 10px 10px 10px 10px;
}

#console {
	background-color: #FFFFFF;
	width: 40em;
	height: 15em;
	overflow: auto;
	border: 1px dashed;
}

.output {
	color: #000000;
}

.button {
	background-color: #000000;
	text-transform: uppercase;
	color: #FFFFFF;
	word-spacing: 025em;
	border: none;
	padding: 12px 13px 11px;
	line-height: 22px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 18px;
	margin-right: 50px;
	margin-left: 50px;
}

.ctrl {
	background-color: #000000;
	text-transform: uppercase;
	color: #FFFFFF;
	word-spacing: 025em;
	border: none;
	padding: 12px 13px 11px;
	line-height: 22px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 18px;
	margin-right: 50px;
	margin-left: 50px;
}